.navbar-ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.navbar-ul-li:not(:last-child) {
    margin-right: 10px;
    display: block;
}

.navbar-ul-li a.active {
    border-bottom: 4px solid #967cf0;
    font-size: 16px;
    color: blue;
}